@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');

*{
    scroll-behavior: smooth;
}

.default-ltr-cache-1jy94d .logo{
    font-family: inherit;
    font-size: 3em;
    color: red;
    border-bottom: 4px solid red;
    font-weight: 900;
    font-family: 'Bruno Ace SC', cursive;
    /* text-transform: uppercase; */
}
.default-ltr-cache-1jy94d .logo:hover{
    text-decoration: none;
}

.heading{
    font-size: 2em;
    font-family: inherit;
    font-weight: 600;
    margin-bottom: 70px;
    text-transform: uppercase;
}
.d-content-project{
    width: 100%;
}

.splide .splide__slide{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
    font-family: inherit;
    height: 100%;
}
.splide__arrow--prev{
    left: -2em;
}
.splide__arrow--next{
    right: -2em;
}
.splide .splide__slide .sliderTabNew{
    width: 60%;
    max-width: 60%;
    position: relative;
}

.splide .splide__slide .img a.active{
    opacity: 1;
    transition: all .5s;
}
.splide .splide__slide a img{
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 400px;
}
.splide .splide__slide .content{
    width: calc(40% - 50px);
    max-width: calc(40% - 50px);
}
.splide .splide__slide .content .title{
    font-size: 2.5em;
    font-weight: bold;
    margin: 20px 0;
    text-transform: uppercase;
}
.splide .splide__slide .content p b{
    font-size: 1.3em;
    color: black;
    text-transform: capitalize;
}
.splide .splide__slide .content p{
    font-size: 1.2em;
    color: gray;
}
.sliderTabNew{
    font-size: 20px;
}
@media (max-width: 414.98px) {
    .sliderTabNew .nav-tabs li{
        font-size: .7em;
    }
    .sliderTabNew .content-tabs{
        font-size: .7em;
    }
    .e4lanwg1.default-ltr-cache-11x5bv4.ea3diy34{
        display: none;
    }
    
}
@media (max-width: 1199.98px) {
    .splide .splide__slide .content{
        width: 100%;
        max-width: 100%;
    }
    .splide .splide__slide .sliderTabNew{
        width: 100%;
        max-width: 100%;
    }
}
.header-tab{
    position: relative;
}

.header-tab::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    background-color: aquamarine;
    z-index: 99;
}

.nav-tabs {
    background: white;
    padding: 0;
    margin: 50px 0 0;
    list-style: none;
    display: flex;
    max-width: fit-content;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.nav-item {
    font-weight: bold;
    font-size: 20px;
    padding: 10px 20px;
    text-align: center;
    transition: 0.5s;
    cursor: pointer;
    text-transform: uppercase;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background-color: transparent;
    color: black;
    border-bottom: 2px solid black;
    
}
.nav-pills .nav-link{
    border-radius: 0;
}
.nav-item a{
    color: black;
}
/*
Google translate
*/

#goog-gt-tt {
    display: none !important;
}

.goog-te-banner-frame {
    display: none !important;
}

.goog-te-menu-value:hover {
    text-decoration: none !important;
}

#google_translate_element2 {
    display: none !important;
}

#google_translate_element2 {
    display: none !important;
}
.skiptranslate {
    z-index: -1;
    opacity: 0;
}
.skiptranslate ~ #appMountPoint{
    margin-top: -40px;
    position: relative;
    z-index: 9999999;
}